# -------------------------
# Python / Django
# -------------------------
*.pyc
*.pyo
*.pyd
__pycache__/
*.log
*.pot
*.mo
db.sqlite3
db.sqlite3-journal
local_settings.py

# Static & media
/staticfiles/
/media/

# -------------------------
# Virtual Environments
# -------------------------
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# -------------------------
# Build / Packaging
# -------------------------
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# -------------------------
# PyInstaller
# -------------------------
*.manifest
*.spec

# -------------------------
# Unit Tests / Coverage
# -------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# -------------------------
# Documentation
# -------------------------
docs/_build/
site/

# -------------------------
# IDEs / Editors
# -------------------------
.idea/
.spyderproject
.spyproject
.ropeproject
.pyrightconfig.json

# -------------------------
# Jupyter / IPython
# -------------------------
.ipynb_checkpoints/
profile_default/
ipython_config.py

# -------------------------
# Type checkers
# -------------------------
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/

# -------------------------
# Celery
# -------------------------
celerybeat-schedule
celerybeat.pid

# -------------------------
# Cython
# -------------------------
cython_debug/

# -------------------------
# Package Managers
# -------------------------
# pipenv
#Pipfile.lock
# poetry
#poetry.lock
poetry.toml
# pdm
#pdm.lock
__pypackages__/

# -------------------------
# Misc
# -------------------------
*.sage.py
